<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Goals</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in leaders.copaAmerica.goals">
      <td class="big-text">{{p.rank}}</td>
      <td class="bold">
        <p>
          <a>{{p.player.name}}</a>
        </p>
        <p>
          <img width="30" height="30" ng-src="{{p.team.logo}}"/><span>{{p.team.name}}</span>
        </p>
      </td>
      <td class="big-text bold">{{p.stat}}</td>
    </tr>
  </tbody>
</table>
